<appSettings>
  <add key="FilePizzaOven.OutputFilePath" value="E:\\Lew\\Documents\\CookedPizzas.txt" />
  <add key="PizzaKitchen.BaseTimeMilliseconds" value="3000" />
  <add key="PizzaKitchen.TimePerToppingLetterMilliseconds" value="100" />
  <add key="PizzaKitchen.DefaultCookingIntervalMilliseconds" value="1000" />
  <add key="PizzaFactory.PartySize" value="50" />
</appSettings>