<appSettings>
  <add key="FilePizzaOven.OutputFilePath" value="C:\\Users\\LewisC\\_sketch\\CookedPizzas.txt" />
  <add key="PizzaKitchen.BaseTimeMilliseconds" value="3000" />
  <add key="PizzaKitchen.TimePerToppingLetterMilliseconds" value="100" />
  <add key="Pizzeria.DefaultOrderIntervalMilliseconds" value="1000" />
  <add key="PizzaFactory.PartySize" value="50" />
  <add key="MongoDB.OrdersCollectionName" value="Orders" />
  <add key="MongoDB.PartiesCollectionName" value="Parties" />
  <add key="MongoDB.ToppingsCollectionName" value="Toppings" />
  <add key="MongoDB.BasesCollectionName" value="Bases" />
  <add key="MongoDB.ConnectionString" value="mongodb://root:rootpassword@localhost:27017" />
  <add key="MongoDB.DatabaseName" value="PizzeriaDb" />
</appSettings>